.button{
  display: inline-block; /* Allows setting width and height while staying in a line */
  background-color: #000000; /* Example button color */
  color: white;
  padding: 7px 10px; /* Add some padding inside the button */
  text-align: center;
  text-decoration: none; /* Remove the default underline from links */
  font-size: 12px;
  text-align: center;
  border: none; /* Remove default button border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to a pointer on hover */
  margin-right: 5px; /* Add some spacing between buttons horizontally */
  margin-bottom: 5px; /* Add some spacing between buttons vertically if they wrap */
}

.ingredients{
      padding: 10px;
}

.instructions{
  flex-wrap: wrap;
  padding: 10px;
}

.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

img {
  max-width: 100%;
  max-height:100%;
}

.text {
  font-size: 70px;
}
